* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px;
}

.header {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__left--img {
  width: 100px;
}

.header__navlist {
  list-style-type: none;
}

.header__navitem {
  display: inline-block;
  padding: 10px 20px;
}

.header__navitem--sign {
  border: 1px solid #000033;
  display: inline-block;
  padding: 10px 20px;
}

.header__navitem--sign:hover {
  background-color: #cc5200;
  border: none;
}

.header__navlink {
  text-decoration: none;
  color: #000033;
  font-family: "Mulish", sans-serif;
  position: relative;
}

.header__navlink--en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navlink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #cc5200;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  -webkit-transform-origin: right;
          transform-origin: right;
  bottom: 0;
  left: 0;
}

.header__navlink:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__navlink--sign {
  text-decoration: none;
  color: #000033;
}

.hero {
  width: 100%;
  background-image: url(../images/Decore.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  position: relative;
}

.hero__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .hero__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.hero__left--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.hero__left--btn--img {
  width: 30px;
}

.hero__left--content {
  position: relative;
}

.hero__left--img {
  position: absolute;
  top: 24%;
  left: 22%;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.hero__right--img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}

.title__footer__top--middle {
  font-size: 14px;
  font-weight: 800;
}

.title__footer__top--one {
  font-size: 30px;
  font-weight: 600;
}

.title--subscribe {
  font-size: 40px;
  font-weight: 500;
  color: #3B3D3B;
  font-family: "Mulish", sans-serif;
}

@media screen and (max-width: 768px) {
  .title--subscribe {
    font-size: 28px;
    font-weight: 400;
  }
}

.title__review {
  font-size: 14px;
  font-weight: 800;
}

.title__review--left {
  font-weight: 800;
  font-size: 30px;
}

.title__wrap--left {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
}

.title__easy--sub {
  font-size: 14px;
  font-weight: 800;
}

.title__right--main {
  font-size: 14px;
  font-weight: 800;
}

.title__easy--box {
  font-size: 14px;
  font-weight: 800;
  color: #3B3D3B;
}

.title__card--offer {
  font-size: 16px;
  font-weight: 800;
  color: #000033;
}

.title__offer {
  font-size: 30px;
  color: #000033;
}

.title__dest {
  font-size: 30px;
  color: #000033;
}

.title__hero--small {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: #cc5200;
}

.title__hero--big {
  color: #000033;
}

.text {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #3B3D3B;
}

.text__footer__top--last {
  font-size: 14px;
  font-weight: 800;
  padding-left: 10px;
}

.text__review--left {
  font-weight: 800;
  font-size: 14px;
}

.text__card--offer {
  font-size: 16px;
  font-weight: 300;
  color: #3B3D3B;
}

.text__easy--sub {
  font-size: 14px;
  font-weight: 300;
}

.text__right--main {
  font-size: 14px;
  font-weight: 300;
}

.text__easy--box {
  font-size: 14px;
  font-weight: 300;
  color: #3B3D3B;
}

.text__offer {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
}

.text__dest {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
}

.text__dest--content {
  font-size: 14px;
  font-weight: 600;
}

.text__wrap--left {
  font-size: 14px;
  font-weight: 800;
}

.btn {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  background-color: #ffb31a;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.btn--subscribe {
  background-color: #cc5200;
}

.btn__left--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: #000033;
  background: none;
}

.offer {
  width: 100%;
  padding: 60px 0;
}

.offer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 60px;
}

.offer__card--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .offer__card--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.card__img {
  width: 50px;
}

.card__dest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  cursor: pointer;
}

.card__dest:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .card__dest {
    width: 70%;
  }
}

.card__dest--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  border-radius: 0 0 40px 40px;
  background-color: #ddeeff;
  padding: 20px;
}

.card__dest--content--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__dest--content--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.card__dest--img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 40px 40px 0 0;
}

.card__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 30px;
}

.card__offer--special {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.card__offer--special--img {
  position: absolute;
  bottom: -15%;
  left: -12%;
  z-index: -111;
}

@media screen and (max-width: 570px) {
  .card__offer--special--img {
    left: -6%;
  }
}

.dest {
  padding: 60px 0;
  width: 100%;
}

.dest__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dest__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dest__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .dest__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.easy {
  width: 100%;
  padding: 80px 0;
}

.easy__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.easy__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.easy__right {
  background-color: white;
  padding: 60px 80px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.easy__right--sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #ffb31a;
  border-radius: 10px;
  width: 50%;
  max-width: 40%;
  position: absolute;
  bottom: 20%;
  right: -7%;
}

.easy__right--sub:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.easy__right--sub--img--last {
  width: 50%;
}

.easy__right--sub--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.easy__right--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.easy__right--img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.easy__right--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.easy__right--last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easy__right--last--house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.easy__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.review {
  width: 100%;
  padding: 80px 0;
}

.review__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .review__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.review__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.review__right--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: bisque;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  row-gap: 20px;
  border-radius: 10px;
  width: 80%;
  position: relative;
}

.review__right--wrap:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.review__right--wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffdbd0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  row-gap: 20px;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: -1;
}

.review--img {
  width: 50px;
  position: absolute;
  left: -5%;
  top: -5%;
}

.brand {
  width: 100%;
  padding: 50px 0;
}

.brand__img--wrap {
  padding: 20px;
  background-color: #fffaf4;
  border-radius: 20px 5px 20px 5px;
}

.brand__img--wrap:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.brand__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe {
  width: 100%;
  padding: 60px 0;
}

.subscribe--img {
  position: absolute;
  top: -12%;
  right: -2%;
}

.subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 500px) {
  .subscribe__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.subscribe__email--input {
  padding: 10px;
  border: none;
  background-color: cornsilk;
  border-radius: 5px;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  row-gap: 50px;
  background-color: #c7dafd;
  padding: 40px 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

@media screen and (max-width: 768px) {
  .subscribe__wrap {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .subscribe__wrap {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  width: 100%;
  padding: 50px 0;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__top--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .footer__top--one {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.footer__top--last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__top--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}

@media screen and (max-width: 768px) {
  .footer__top--list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.footer__top--item {
  color: #3B3D3B;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.footer__top--middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer__top--middle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */